#modalAporteContainer #enviarAporte {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px !important;
  }
  
  #modalAporteContainer #enviarAporte input,
  #modalAporteContainer #enviarAporte textarea {
    width: 90%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    font-family: inherit;
    font-size: 1rem;
    text-align: left;
  }
  
  #modalAporteContainer #enviarAporte textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  #modalAporteContainer #enviarAporte button.enviar {
    background-color: #09354b;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    font-family: inherit;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  #modalAporteContainer #enviarAporte button.enviar:hover {
    background-color: #0b4563;
  }
  