#modalAporteContainer #enviarAporte {
    display: block !important;
    text-align: center !important;
  }
  
  #modalAporteContainer #enviarAporte input,
  #modalAporteContainer #enviarAporte textarea,
  #modalAporteContainer #enviarAporte button.enviar {
    display: block !important;
    clear: both !important; /* esto rompe cualquier float anterior */
    width: 90% !important;
    margin: 10px auto !important;
    float: none !important; /* rompe estilos flotantes de Bootstrap */
    text-align: left !important;
  }
  
  #modalAporteContainer #enviarAporte textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  #modalAporteContainer #enviarAporte button.enviar {
    background-color: #09354b;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    font-family: inherit;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  #modalAporteContainer #enviarAporte button.enviar:hover {
    background-color: #0b4563;
  }
  